/* GENERAL */
body {
    margin: 0;
    padding-top: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
}

/* NAVBAR */
.navbar-list {
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: #0f172a;
    margin: 0;
    padding: 10px 0;
}

.navbar-list li {
    margin: 0 15px;
}

.navbar-list li a, .navbar-list li button {
    color: white;
    text-decoration: none;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
}

.navbar-list li button:hover, .navbar-list li a:hover {
    color: #1e293b;
}

/* BANNER */
.banner {
    background-color: #1e293b;
    color: white;
    text-align: center;
    padding: 50px 20px;
}

.banner .btn-banner {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #0f172a;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.banner .btn-banner:hover {
    background-color: #1e293b;
}
/* FOOTER */
footer {
    background-color:#0f172a; 
    color:white; 
    text-align:center; 
    padding:15px; 
    margin-top: 50px; 
    margin-block-end: 50px;
}
/* RESPONSIVE */
@media (max-width: 768px) {
    .card {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .card {
        width: 90%;
    }
}
